---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ElveXu - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="175" height="175" style="border-radius:50%;" src="/img/avatar-guest.jpg">
				<h1>ElveXu</h1>
				<p>一个码农 ,<br>
					专注于自身的兴趣 ,不将就</p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">

					<li>
						<div class="cbp_tmlabel">
							<h2>Java & iOS Security @PYW</h2>
							<time>2016 - 2017</time>
							<img src="images/intern-pyw.png">
							<ul>
								<li>
									Pyw, A Game publisher , is one of the bigger platform for China's game publisher, on which there has over 5,000+ games online .<br>
									As a <b>Server Back-End Engineer</b>, I provided iOS Security and SDK Service development for our online game service. Besides,
									I contribute to performance, iOS Re-package ,Re-sign for Linux and Java Distribute Framework.
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>iOS</b></span>
									<a href="javascript:void(0);"><span class="i-pyw"></span></a>
									<span class="link"><a target="_blank" href="http://pengyouwan.com">pyw.cn</a></span>
								</li>
							</ul>
						</div>
					</li>

					<li>
						<div class="cbp_tmlabel">
							<h2>Java & Android Engineer @ixinyou</h2>
							<time>2014 - 2016</time>
							<img src="images/ixinyou-bg.png">
							<ul>
								<li>
									Zhuhai Xinyou Technology Co., Ltd. was established in 2011,
									is based on a large-scale boutique game development and integration of operational capacity,
									providing for the next generation of game products and peripheral value-added services,
									and have a quick grasp of product and user capabilities of the new generation of R & D integration Game Company.<br>

									As a <b>Game Server Back-End Engineer</b>, I provided SDK Service development for our online game service. Also,
									I focus on Android hot update, Android Re-package (One Access SDK Full Channel Distribution).
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>Android</b></span>
									<a href="javascript:void(0);"><span class="i-ixinyou"></span></a>
									<span class="link"><a target="_blank" href="http://ixinyou.com">ixinyou.com</a></span>
								</li>
							</ul>
						</div>
					</li>

					<li>
						<div class="cbp_tmlabel">
							<h2>Java & C++ Developer @56sino</h2>
							<time>2011 - 2013</time>
							<img src="images/wlzg-bg.png">
							<ul>
								<li>
									Logistics, China's logistics information network products, to provide the national logistics market supply and demand information, the largest amount of information, the rich information content,
									high quality information, information is reliable, real-time information, logistics, China has 15 years of information network operating experience, to provide rich The operation of services,
									a huge service channel for members to provide high-quality customer service.<br>
									As a <b>Server Back-End & Mobile Engineer</b>, I provided logistics information network servers for our online Desktop Client , Mobile App Client. Besides,
									I develop System Manager Android Client for Field staff.
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span class="cbp_tmicon-screen"></span>
									<span><b>Java</b></span>
									<span><b>C++</b></span>
									<span><b>Deiphi</b></span>
									<span><b>&nbsp;&nbsp;</b></span>
									<a href="javascript:void(0);"><span class="i-wlzg"></span></a>
									<span class="link"><a target="_blank" href="http://www.56sino.cn">56sino.com</a></span>
								</li>
							</ul>
						</div>
					</li>



					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by ElveXu
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
